@use "variables";

/*------------------------------*\
    #mixins 
\*------------------------------*/

@mixin respond-to($breakpoint) {
  @media screen and (min-width: map-get($map:variables.$breakpoints, $key:$breakpoint )) {
    @content;
  }
}

@mixin flex-container($al-con: center, $js-con: space-between, $flex-d: row) {
  display: flex;
  align-items: $al-con;
  justify-content: $js-con;
  flex-direction: $flex-d;
}
