@use "../abstracts" as v;

/*------------------------------*\
    #modal
\*------------------------------*/

.btn {
  cursor: pointer;
  background-color: inherit;
  color: inherit;

  &:hover {
    filter: brightness(150%);
  }

  &--xxs {
    width: 3rem;
    height: 0.7rem;
  }

  &--xs {
    height: 2rem;
    width: 2rem;
    background: url("../assets/images/icon-cross.svg") no-repeat center;
  }

  &--s {
    height: 2rem;
    width: 3rem;
  }

  &--l {
    height: 2rem;
    width: 6rem;
  }

  &--cross {
    background: url("../assets/images/icon-cross.svg") center / contain
      no-repeat;
  }

  &--checked {
    background: url("../assets/images/icon-check.svg") center / contain
      no-repeat;
  }
}
