@use "../abstracts" as v;

/*------------------------------*\
    #modal
\*------------------------------*/

.modal {
  min-height: 20rem;
  width: 100%;
  height: 100%;
  display: none;
  color: var(--text-color);
  border-radius: 1rem;

  &--active {
    @extend .modal;
    display: block;
    animation: zoomInUp;
    animation-duration: 1s;
  }
  &__dialog {
  }

  &-wrapper {
    padding: 1rem 3rem;
    background-color: var(--list-bg);
    border-radius: 3rem;
    box-shadow: 0px 0px 4px;
  }

  &__header {
    border-bottom: 1px solid var(--text-color);
    @include v.flex-container();
    padding: 1rem 0;
  }

  &__title {
  }

  &__body {
    border-bottom: 1px solid var(--text-color);
  }

  &__field-wrapper {
    padding: 1rem 0;
    display: grid;
    grid: 1fr / 48% 50%;
    align-items: center;
  }
  &__input-wrapper {
    justify-self: end;
  }

  &__input-rgb {
    position: relative;
    height: 2rem;
  }

  &__input-hsl {
    max-width: 100%;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    border: 1px solid;
  }

  &__footer {
    padding: 2rem 0 0 0;
    position: relative;
  }

  &__btn {
    color: inherit;

    &--position {
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translate(-50%, -25%);
    }

    &--submit {
      background-color: var(--Bright-Blue);
      border-radius: 2rem;
    }
  }
}
