@use "../abstracts" as v;

/*------------------------------*\
    #todo
\*------------------------------*/
@keyframes rotation {
  to {
    transform: rotate(360deg) scale(1.1);
  }
}

.todo {
  position: relative;
  &__header {
    width: 100%;
    background: var(--header-bg-image-mobile) top center / cover no-repeat;
    object-fit: cover;
  }

  &__header-wrapper {
    padding-top: 2.6rem;
  }

  // positioned relative because contain todo__nav
  &__items-wrapper {
    @include v.flex-container();
    margin-bottom: 2rem;
    position: relative;
  }

  &__logo {
    font-size: 1.7rem;
    letter-spacing: 0.75rem;
    font-weight: 500;
    color: var(--text-hover);
  }

  &__theme-switch {
    width: 2rem;
    height: 2rem;
    background: url("../assets/images/icons8-settings.svg") center / contain
      no-repeat;
    z-index: 10;
    &:hover {
      animation: rotation 2s ease-in-out infinite;
    }
  }

  &__form {
    display: inline-block;
    margin-bottom: 2.45rem;
    border-radius: 1rem;
    border: none;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  &__input-wrapper {
    display: flex;
  }

  &__circle {
    width: 4rem;
    background-color: var(--list-bg);
    position: relative;

    &-fill {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 1rem;
      border: 1px solid var(--text-gray);
    }
  }

  &__input {
    width: 100%;
    padding: 1.2rem 0;
    outline: none;
    border: none;
    background-color: var(--list-bg);
    font-size: 0.75rem;
    color: var(--text-color);

    /* making the styles for autofill consistant with the design*/
    &:-webkit-autofill,
    -webkit-autofill:focus,
    -webkit-autofill:hover {
      -webkit-text-fill-color: var(--text-color);
      -webkit-box-shadow: 0 0 0px 1000px var(--list-bg) inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  /*------------------------------*\
    #todo__nav
  \*------------------------------*/
  &__nav {
    position: absolute;
    width: 10rem;
    height: 2rem;
    top: 0;
    right: 0;
    background: red;
  }

  /*------------------------------*\
    #modal styles
  \*------------------------------*/
  &__modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
  }

  /*------------------------------*\
    #laptop styles
  \*------------------------------*/
  @include v.respond-to("tablet") {
    &__header {
      background: var(--header-bg-image-desktop) top center / cover no-repeat;
    }
  }

  /*------------------------------*\
    #laptop styles
  \*------------------------------*/
  @include v.respond-to("laptop") {
    &__header-wrapper {
      padding-top: 4.3rem;
    }

    &__items-wrapper {
      margin-bottom: 2.5rem;
    }

    &__logo {
      font-size: 2.5rem;
      letter-spacing: 1.1rem;
    }

    &__form {
      margin-bottom: 5.5rem;
    }

    &__input {
      padding: 1.6rem 0;
      font-size: 1.125rem;
    }
  }
}
