@use "../abstracts" as v;

/*------------------------------*\
    #todo
\*------------------------------*/

.todo {
  position: relative;

  &__header {
    width: 100%;
    background: var(--header-bg-image-mobile) top center / cover no-repeat;
    object-fit: cover;
    transition: v.$primary;
  }

  &__header-wrapper {
    padding-top: 2.6rem;
  }

  // positioned relative because contain todo__nav
  &__items-wrapper {
    @include v.flex-container();
    margin-bottom: 2rem;
    position: relative;
  }

  &__logo {
    font-size: 1.7rem;
    letter-spacing: 0.75rem;
    font-weight: 500;
    color: var(--text-hover);
  }

  &__theme-switch {
    width: 1.6rem;
    height: 1.6rem;
    background: url("../assets/images/icons8-settings.svg") center / contain
      no-repeat;
    z-index: 10;

    &:focus {
      animation: reverseRotation 1s ease-in-out 1;
    }

    &--active {
      @extend .todo__theme-switch;
      &:focus {
        animation: rotation 1s ease-in-out 1;
      }
    }
  }

  &__form {
    display: inline-block;
    margin-bottom: 2.45rem;
    border-radius: 1rem;
    border: none;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  &__input-wrapper {
    display: flex;
  }

  &__circle {
    width: 4em;
    background-color: var(--list-bg);
    position: relative;

    &-fill {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 1rem;
      border: 1px solid var(--text-gray);
    }
  }

  &__input {
    width: 100%;
    padding: 1.2rem 0;
    outline: none;
    border: none;
    background-color: var(--list-bg);
    font-size: 0.75rem;
    color: var(--text-color);

    /* making the styles for autofill consistant with the design*/
    &:-webkit-autofill,
    -webkit-autofill:focus,
    -webkit-autofill:hover {
      -webkit-text-fill-color: var(--text-color);
      -webkit-box-shadow: 0 0 0px 1000px var(--list-bg) inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  /*------------------------------*\
    #todo__nav
  \*------------------------------*/
  &__nav {
    position: absolute;
    width: 0;
    height: 0;
    max-height: 2.5rem;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    @include v.flex-container();
    border-radius: 10rem 0 0 10rem;
    visibility: hidden;
    transform-origin: right right;
    transition: v.$primary;

    &--active {
      @extend .todo__nav;
      visibility: visible;
      width: 38%;
      height: 100%;
      transform: translateY(-50%);
      border-radius: 0.5rem;
    }

    &-item {
      flex: 1;
      height: 100%;
    }

    &-icon {
      width: 100%;
      height: 100%;
      @include v.flex-container(
        $al-con: center,
        $js-con: center,
        $flex-d: column
      );

      &:hover {
        transition: all 1s ease;
        transform: scale(1.2) translateY(-20%);
      }

      &--sun {
        background: url("../assets/images/icon-sun.svg") no-repeat center;
      }

      &--moon {
        background: url("../assets/images/icon-moon.svg") no-repeat center;
      }

      &--custom {
        background: url("../assets/images/icon-adjustment.png") center / contain
          no-repeat;
      }
    }
  }

  /*------------------------------*\
    #modal styles
  \*------------------------------*/
  &__modal {
    transition: v.$primary;
    position: absolute;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);

    @include v.respond-to("laptop") {
      top: 100%;
    }
  }

  &__btn {
    & > & {
      margin-right: 1rem;
    }
  }

  /*------------------------------*\
    #tablet styles
  \*------------------------------*/
  @include v.respond-to("tablet") {
    &__header {
      background: var(--header-bg-image-desktop) top center / cover no-repeat;
    }

    &__theme-switch {
      width: 2rem;
      height: 2rem;
    }

    &__circle {
      width: 5rem;
    }

    &__nav {
      &--active {
        width: 32%;
      }
    }
  }

  /*------------------------------*\
    #laptop styles
  \*------------------------------*/
  @include v.respond-to("laptop") {
    &__header-wrapper {
      padding-top: 4.3rem;
    }

    &__items-wrapper {
      margin-bottom: 2.5rem;
    }

    &__logo {
      font-size: 2.5rem;
      letter-spacing: 1.1rem;
    }

    &__form {
      margin-bottom: 4.3rem;
    }

    &__input {
      padding: 1.6rem 0;
      font-size: 1.125rem;
    }
  }
}
